body {
    background-color: Black;
    font-family: lobster;
    color: white;
    text-align: center;
    font-size: 1.2em;
    height: 100vh; 
    margin: 0; 
    padding: 0;
    position: relative;/*temporary*/
}

.box1 {
    background-color: black;
    margin: 0;
    padding: 100px;
    text-decoration: none;
    font-size: 2em;
}

.box1Plus {
    background-color: black;
    margin: 0;
    text-decoration: none;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: white; /* must do this */
    font-weight: bold;
    font-size: 1em;
}

.box2 {
    background-color:black;
    margin: 0;
    padding: 100px;
}

#ContainerLeft {
    background-color: black;
    padding-left: 5em;
    padding-right: 5em;
}

.needHelp {
    /* background: rgba(255, 0, 0, 0.26); */
    text-align: left;
}

img.smLogo {
    max-width: 1.5em;
    max-height: 1.5em;
}

.box2 ul {
    text-align: right;
    font-size: 0.85em;
    list-style-type: none;

}

.buttonWithClass {
    background-color: red;
    cursor: pointer;
    padding: 2em;
    border: 0;
    border-radius: 20px;
    display: block;
    margin: auto;
    font-weight: bold;
}

/* This is for the modal */
#modalWithId, #modalContainer {
    position: absolute;
    background-color: yellow;
    border-radius: 5px;
    border: 0;
    padding: 0.5em;
    color: black;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    font-weight: bold;
    font-size: 0.8em;
    line-height: 1.5em;
    text-align: left;
    width: 90%;
    /* width: 40%;
    height: auto; */
    max-height: 90%; /* ensure modal window stays inside window */
    overflow: auto; /* do this after setting height, to control overflow */

}

#modalContainer a {
    color: black;
    font-style: italic;
    background-color: rgba(216, 216, 23, 0.774);
}

#forTheX {
    background-color: black;
    color: white;
    padding: 2em;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
}

.modal-visible {
    display: none;
}

#alertButton {
    margin-top: 5%;
    border-radius: 20px;
}

#happy, #sad, #add, #remove {
    border-radius: 50px;
    margin-top: 3%;
    padding: 5px;
}

@media screen and (min-width: 600px) {
    main {
        display: flex;
        align-items: center;
        height: 100%;
    }

    #ContainerLeft {
        display: block; /* display:block = newly added with Ed! and possibly use flex direction!!! */
        background-color:black;
        width: 70vw;
        overflow-x: hidden;   
        min-height: 100%;     
        height: 100%;
        height: auto;
    }

    #ContainerRight {
        background-color: grey;
        overflow-x: hidden;
        overflow-y: auto;
        height: 100vh;
        width: 50vw;   
    }

    body {
        position: relative;
        color: white;
    }

    #modalContainer {
    line-height: 1em;
    text-align: left;
    height: 60%;
    width: 70%;
    font-size: 1em;
    max-height: 90%;
    overflow: auto;
    }

}

@media screen and (min-width: 1300px) {
    main {
        display: flex;
        align-items: center;
        height: 100%;
    }

    #ContainerLeft {
        display: block; /* display:block = newly added with Ed! and possibly use flex direction!!! */
        background-color:black;
        width: 70vw;
        overflow-x: hidden;   
        min-height: 100%;     
        height: 100%;
        height: auto;
    }

    #ContainerRight {
        background-color: grey;
        overflow-x: hidden;
        overflow-y: auto;
        height: 100vh;
        width: 50vw;   
    }

    body {
        position: relative;
        color: white;
    }

    #modalContainer {
    line-height: 2em;
    text-align: left;
    height: 60%;
    width: 70%;
    font-size: 1.1em;
    max-height: 90%;
    overflow: auto;
    }

}

.scroll-col::-webkit-scrollbar {
    display: none;
} /* chrome browswer */
  
  .scroll-col {
    -ms-overflow-style: none;
    scrollbar-width: none;
  } 
  
  /*all other browsers */